{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "jsx": true,
      "dynamicImport": true,
      "tsx": true,
      "privateMethod": true,
      "functionBind": true,
      "exportDefaultFrom": true,
      "exportNamespaceFrom": true,
      "decorators": true,
      "decoratorsBeforeExport": true,
      "topLevelAwait": true,
      "importMeta": true,
      "privateFieldsAsProperties": true,
      "classPrivateProperty": true,
      "classProperty": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "react": {
        "runtime": "automatic",
        "throwIfNamespace": true,
        "useBuiltins": true
      }
    },
    "target": "es2022"
  },
  "module": {
    "type": "es6"
  }
}
