@layer base {
  :root {
    --max-width: 93rem;
    --max-width2: 64rem;
    --max-width3: 68rem;

    @media screen and (max-width: 1406px) {
      --max-width: 90rem;
    }
    @media screen and (max-width: 768px) {
      --max-width: 760px;
    }
    @media screen and (max-width: 1180px) {
      --max-width: 980px;
    }
  }

  .theme-light {
    --color-highlight:  245 228 0;

    --color-bg-main: 255 255 255;
    --color-bg-muted: 25 25 33;
    --color-bg-invert: 0 0 0;

    --color-border-main: 67 67 87;
    --color-text-main: 0 0 0;

    --color-success: #04ecae
    --color-warn: #ce7509;
    --color-danger: #e84c69;
  }

  .theme-dark {
    --color-highlight: 0 163 245;

    --color-bg-main: 27 27 36;
    --color-bg-muted: 25 25 33;
    --color-bg-invert: 0 0 0;

    --color-border-main: 67 67 87;
    --color-text-main: 255 255 255;

    --color-success: #04ecae
    --color-warn: #ce7509;
    --color-danger: #e84c69;
  }
}
